/* CSS declarations go here */
body {
  background-color: #0f9bc0;
}
.checked {
  text-decoration: line-through;
}
.container {
  background-color: #ff4081;
  padding: 30px;
  padding-top: 0px;
}
#added {
  background-color: #40d5ce;
  margin-bottom: 30px;
  position:relative;
  height: 50px;
}
#heady {
  color: #fff;
  font-size: 80px;
  text-align: center;
  font-family: "Bungee", cursive;
  margin-bottom: 10px;
}
